@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
*,p,h3,a,#error{
    font-family: 'Goldman', cursive;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #c8dcef;
}
#error{
    color: whitesmoke;
    font-size: 18px;
}
p{
    color: whitesmoke;
    font-size: 18px;
}

.right {
    width: 300px;
    padding: 40px;
    background: #191919;
    text-align: center;
    margin: auto;
    display: block;
    border-radius: 10px;
}

.left h1 {
    color: whitesmoke;
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;
}

.right input[type="text"],
.right input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: whitesmoke;
    border-radius: 24px;
    transition: 0.25s;
}

.right input[type="text"]:focus,
.right input[type="password"]:focus {
    width: 280px;
    border-color: #2ecc71;
}

.right input[type="button"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: whitesmoke;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.right input[type="button"]:hover {
    background: aqua;
}

.para {
    color: antiquewhite;
}

.create_account {
    color: antiquewhite;
}
header{
    height: 100px;
    width: 100%;
    padding-top: 10px;
    
    clear: both;
    background-color: rgba(0,0,0,.8);
    color: whitesmoke;
    margin-bottom: 65px;
}
#logo{
    float: left;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
#head{
    margin-left: 88px;
    font-size: 30px;
}
